.row {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.left-column {
  float: center;
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: 50px;
}

.btn-group {
  display: flex;
  flex-direction: row;
  margin-top: 20px;
  justify-content: center;
  align-items: center;
}

.details-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.list-view {
  display: flex;
  flex-direction: column;
  margin: 20px;
}

.list-style {
  color: "#3f51b5";
  padding: 20px;
}
