.App {
  text-align: center;
}

.header {
  padding: 30px;
  text-align: center;
  border-bottom: solid;
  border-bottom-width: 1px;
  border-color: #000000;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  /* background-color: red; */
  text-align: center;
  padding: 30px;
  border-top: solid;
  border-top-width: 1px;
  display: flex;
  justify-content: center;
  align-items: center;
}
